.container
  .hero-unit
    %h1
      Contactez-moi
    %br
    %p
      I am always interested in cool remote jobs and am willing to travel anywhere. Seriously, anywhere.
    %p
      Bonus points for India/Pakistan, Africa, Middle East and Central/South America.
    %p
    %p
      %a.btn.btn-primary.btn-large{:href => "https://twitter.com/xacaxulu", :target=>"_blank"} @xacaxulu
      %a.btn.btn-primary.btn-large{:href => "http://github.com/xacaxulu", :target=>"_blank"} GitHub
      %a.btn.btn-primary.btn-large{:href => "mailto:xacaxulu@gmail.com"} xacaxulu@gmail.com
