.container
  .hero-unit
    %h1
      Curriculum Vitae
    %br
    %p 
      Present - Student <a href="http://gschool.it/ruby" target="_blank">gSchool</a>, Denver Colorado
    %p
      2011 - 2012 Triple Canopy - Kabul, Afghanistan
    %p
      2010 - 2011 Aegius - Software Consultant, multiple locations worldwide
    %p
      2002 - 2007 United States Marine Corps - Marine Embassy Security Command, Pretoria, South Africa
    %p 
      BA, International Relations, University of North Carolina - Charlotte
    %p
      BA, French Language, University of North Carolina - Charlotte
