body {
	padding-top: 60px;
	padding-bottom: 40px;
}

.btn {border: solid 1px #999999;
  box-shadow: 2px 2px 4px #B8B8B8 ;
  -moz-box-shadow: 2px 2px 4px #B8B8B8 ;
  -webkit-box-shadow: 2px 2px 4px #B8B8B8 ;
  background-color: blue;
}

.hero-unit{border: solid 1px #999999;
  box-shadow: 4px 4px 4px #B8B8B8  ;
  -moz-box-shadow: 4px 4px 4px #B8B8B8 ;
  -webkit-box-shadow: 4px 4px 4px #B8B8B8 ;}

img{
  box-shadow: 4px 4px 4px #B8B8B8  ;
  -moz-box-shadow: 4px 4px 4px #B8B8B8 ;
  -webkit-box-shadow: 4px 4px 4px #B8B8B8 ;}

.hero-unit p{font-size: 14.px;
              text-align: center}

.hero-unit h1{font-size: 14.px;
              text-align: center;
              }
.span4 {
          box-shadow: 4px 4px 4px #B8B8B8  ;
  -moz-box-shadow: 4px 4px 4px #B8B8B8 ;
  -webkit-box-shadow: 4px 4px 4px #B8B8B8 ;}


